apiVersion: v1
kind: Secret
metadata:
  name: redis-cloud-creds
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://api.redislabs.com/v1",
      "api_key": "Axxxxxxxxx",
      "secret_key": "Sxxxxxxxxx"
    }
